* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.cardbody {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  justify-content: space-between;
  flex-direction: column;
}

.author {
  color: grey;
  font-size: 18px;
}

/* .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

/* .logo {
  background-color: white;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
/* align-items: right !important;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border: black 1px solid;
  text-decoration: none;
  border-radius: 20px;
}

.navbar {
  display: flex;
  /* justify-content: space-between; 
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  background-color: aquamarine;
}

.link {
  display: flex;
  justify-content: space-between; 
  align-items: left;
  flex-direction: row;
  margin: 0 10px;
  padding: 0 10px;
  text-decoration: none;
} */

.nav {
  display: flex;
  align-items: center;
  float: right;
  /* justify-content: center; */
  margin: 0 25px;
  margin-top: 10px;
  color: white;
  font-size: 22px;
  text-decoration: none;
  /* justify-content: flex-end; */
  /* border: solid 3px green; */
}

.logo {
  display: flex;
  /* justify-content: flex-start; */
  float: left;
  border: solid 3px rgb(255, 255, 255);
  margin: 5px 25px;
  color: white;
  font-size: 22px;
  text-decoration: none;
  padding: 5px 5px;
}

#navigation {
  overflow: hidden;
  background-color: rgb(180, 180, 180) !important;

  /* color: red;
  border: solid 3px red; */
}

.h1 {
  display: flex;
  justify-content: center;
}

div.headerContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#img-div {
  background-color: white;
  text-align: center;
  padding: 20px;
}
.h2 {
  text-align: center;
}
.cardbody {
  /* display: flex;
  justify-content: center; */
  margin-top: 15px;
  margin-bottom: 15px;
}

#btn-card {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 12px;
  background-color: rgb(51, 147, 202);
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px 5px;
}

.map {
  display: flex;
  justify-content: center;
}

.about-txt,
.about-heading {
  display: flex;
  justify-content: center;
}
hr.solid {
  border-top: 3px solid #bbb;
  margin: 10px;
}
